body {
    background: #024480;
}

div.container.root {
    margin-top: 7.5rem;
    margin-bottom: 1.4rem;
    padding: 2rem;
    background: #d1e9ff;
    border-radius: 5px;

}

.thead-light {
    /* background-color: #E9ECEF; */
    border-top: 1px solid rgb(117, 146, 175);
    border-bottom: 1px solid #DEE2E6;
}

.mt-2{
    margin-top: 1.3rem;
} 
.mb-1{
    margin-bottom: 1.3rem;
}
.p2 {
    padding: .75rem !important;
}
.font-italic {
    font-style: italic;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 30px;
    margin-left: 3rem;
    color: #777676;
}
.font-italic strong {
    font-size: 36px;
    color: #13043a;
}
.font-italic small {
    color: #777676;
    font-size: 20px;
    text-transform: capitalize;
}
